body {
  background-color: #fad2d2; }
  body #bg-inner {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background: #f7fbff;
    border-radius: 18px;
    border: solid 5px white;
    box-shadow: 3px 3px 3px #b98080; }
    body #bg-inner button {
      border: none;
      border-radius: 30px;
      font-size: 15px;
      font-weight: bold;
      color: white;
      background: #fad2d2;
      box-shadow: 3px 3px 3px #b98080;
      transition: 0.3s;
      height: 40px; }
      body #bg-inner button:active {
        box-shadow: 0px 0px 0px #b98080; }
    body #bg-inner .title {
      /* Title */
      position: absolute;
      left: 23px;
      top: -20px; }
      body #bg-inner .title .win-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 56px;
        display: flex;
        align-items: center;
        color: #fad2d2;
        text-shadow: 3px 3px 3px #b98080; }
    body #bg-inner .description {
      position: absolute;
      right: 23px;
      top: 15px;
      width: 50%;
      font-weight: bold;
      color: #a0a0a0; }
    body #bg-inner .props {
      /* Properties */
      position: absolute;
      left: 18px;
      right: 18px;
      top: 74px;
      bottom: 64px;
      background: #FFFFFF;
      border: 5px solid #DADADA;
      box-sizing: border-box;
      border-radius: 35px; }
      body #bg-inner .props .props-inner {
        /* Properties-inner */
        /* Auto Layout */
        display: flex;
        flex-direction: column;
        padding: 0px;
        position: absolute;
        left: 20px;
        right: 20px;
        height: 100%;
        box-shadow: none; }
        body #bg-inner .props .props-inner .prop {
          /* Inside Auto Layout */
          flex: none;
          height: 48px;
          display: block; }
          body #bg-inner .props .props-inner .prop::marker {
            display: none; }
          body #bg-inner .props .props-inner .prop .prop-view {
            display: block; }
          body #bg-inner .props .props-inner .prop span {
            position: absolute;
            display: block;
            width: 50%;
            height: 40px;
            padding: 7px 0;
            font-weight: bold;
            box-shadow: none !important; }
          body #bg-inner .props .props-inner .prop label {
            position: absolute;
            left: 50%;
            width: 25%;
            height: 40px;
            padding: 7px 0;
            color: rgba(0, 0, 0, 0.5);
            box-shadow: none !important; }
          body #bg-inner .props .props-inner .prop input, body #bg-inner .props .props-inner .prop button {
            position: absolute;
            right: 0;
            width: 30%;
            height: 40px; }
            body #bg-inner .props .props-inner .prop input[type="time"], body #bg-inner .props .props-inner .prop button[type="time"] {
              border-radius: 15px;
              width: calc(30% - 40px);
              padding-left: 35px;
              padding-right: 5px;
              font-size: 20px;
              font-weight: 800;
              color: white;
              background: #fad2d2;
              border-radius: 30px;
              stop-color: white;
              flood-color: white;
              box-shadow: 3px 3px 3px #b98080;
              transition: 0.3s; }
              body #bg-inner .props .props-inner .prop input[type="time"]:active, body #bg-inner .props .props-inner .prop button[type="time"]:active {
                box-shadow: 0px 0px 0px #b98080; }
              body #bg-inner .props .props-inner .prop input[type="time"]:enabled, body #bg-inner .props .props-inner .prop button[type="time"]:enabled {
                border: none; }
              body #bg-inner .props .props-inner .prop input[type="time"]:focus, body #bg-inner .props .props-inner .prop button[type="time"]:focus {
                outline: none; }
      body #bg-inner .props .music-list {
        position: absolute;
        left: 25px;
        top: -15px;
        bottom: -15px;
        width: 50%;
        display: flex;
        padding: 0px;
        flex-direction: column;
        box-sizing: border-box;
        overflow-y: scroll; }
        body #bg-inner .props .music-list::-webkit-scrollbar {
          display: none; }
        body #bg-inner .props .music-list .music-item {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px;
          height: 40px;
          align-items: center; }
          body #bg-inner .props .music-list .music-item span {
            display: block;
            width: 80%; }
      body #bg-inner .props .music-editor {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40%;
        height: 100%;
        display: flex;
        padding: 5px;
        flex-direction: column; }
        body #bg-inner .props .music-editor input[type="text"] {
          border: none;
          padding: 10px;
          border-radius: 5px 5px 0 0;
          border-bottom: solid lightgray; }
          body #bg-inner .props .music-editor input[type="text"]:focus {
            outline: none;
            border-bottom: solid lightgray; }
        body #bg-inner .props .music-editor button {
          margin-top: 10px;
          margin-left: 70%; }
      body #bg-inner .props .music-description {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 100%;
        font-weight: bold; }
    body #bg-inner .buttons {
      position: absolute;
      height: 60px;
      bottom: -10px;
      right: 20px; }
      body #bg-inner .buttons button {
        right: 0px;
        width: 100px; }
